@{
    ViewBag.Title = "About Road Weather Performance Management (RWPM)";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Adverse road weather conditions can significantly degrade traffic mobility, reducing speed and road capacity as well as increasing delays and travel time. State Departments of Transportation (DOTs) and public transportation agencies work hard to mitigate the effects of adverse weather events. It is estimated that DOTs spend over $2 billion each year on snow and ice control alone. Although adverse weather and the resulting traffic is highly variable, DOTs rely largely on area weather forecasts, best practices, and past experience to decide how to deploy their road weather maintenance (RW maintenance) resources to mitigate adverse effects while also continuously seeking to improve their response and performance. DOTs need tools to help them improve traffic mobility and safety during adverse weather.  They need tools that can help them maximize the effectiveness of their maintenance resources and adjust their deployments dynamically as road conditions and traffic flow evolve during an event.
</p>
<p>
    Connected vehicle technology holds great promise in improving DOT response to adverse weather through real-time monitoring of traffic mobility, local weather, and local road conditions. This technology can enable direct, real-time and after-action feedback to the DOTs on the effectiveness of their adverse weather mitigation efforts. As connected vehicle technology becomes widespread in new vehicles, mobile traffic and weather observations data from the vehicles can be captured and used by the DOTs to significantly improve their real-time response to dynamic weather and traffic conditions. Comprehensive real-time feedback could enable DOTs to refine and optimize mitigation measures reliably and on-the-fly, maximizing the efficiency and effectiveness of their available road maintenance resources.
</p>
