@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Battelle<br />
    505 King Ave<br />
    Columbus, Oh 43201<br />
    <abbr title="Phone">P:</abbr>
    614.424.4469
</address>

<address>
    <strong>General:</strong>   <a href="mailto:stephens@battelle.org">Denny Stephens</a><br />
    <strong>Technical Support:</strong> <a href="mailto:zinkg@battelle.org">Greg Zink</a>
</address>