@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RWPM</h1>
    <p class="lead">Welcome to Road Weather Performance Management</p>
    <p>@Html.ActionLink("Learn more \u00BB", "About", "Home", new object { },
      new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">

</div>