
@{
    ViewBag.Title = "Traffic Control Administration";
}

<h2>Traffic Control Administration</h2>

<p>
    @Html.ActionLink("Weather Event Management \u00BB", "Index", "WeatherEvents", new object { },
      new { @class = "btn btn-primary btn-lg" })
</p>

<br />
