@{
    ViewBag.Title = "Road Weather Maintenance Administration";
}

<h2>@ViewBag.Title</h2>

<i>RW Maintenance Recommendation Management (this is where modifications and rejection of recommendations occur)</i><br />

<p>
    @Html.ActionLink("Weather Event Management \u00BB", "Index", "WeatherEvents", new object { },
      new { @class = "btn btn-primary btn-lg" })
</p>


