<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="SharpRepository.EfRepository" version="1.4.6.15" targetFramework="net451" />
  <package id="SharpRepository.InMemoryRepository" version="1.4.0.0" targetFramework="net451" />
  <package id="SharpRepository.Repository" version="1.4.6.15" targetFramework="net451" />
</packages>